@using WebApplication1.Models
@model WebApplication1.Models.ProductInfo

@{
    ViewBag.Title = "AddProducts";
}

<div class="Heading">
    <h2>AddProduct</h2>
</div>

<div class="container AddProductForm">
    @using (Html.BeginForm("AddProducts", "ProductsInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="ProductInfoForm" class="container">

            <!-- Product Name TextBox -->
            <div class="row">
                <div class="col-sm-3">
                    Product Name:
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(Model => Model.ProductName, new { @placeholder = "Product Name", @class = "form-control", @id = "ProductName" })
                </div>
            </div>
            <br />

            <!-- ProductID -->
            <div class="row">
                <div class="col-sm-3">
                    Product ID:
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(Model => Model.ProductId, new { @placeholder = "Product ID", @class = "form-control", @id = "ProductID" })
                </div>
            </div>
            <br />

            <!-- Product Category DropDown -->
            <div class="row">
                <div class="col-sm-3">
                    Product Category:
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(Model => Model.ProductCategory, new SelectList(Enum.GetValues(typeof(Category))), new { @class = "form-control", @placeholder = "Select Category", @id = "ProductCategory" })
                </div>
            </div>
            <br />

            <!-- Quantity -->
            <div class="row">
                <div class="col-sm-3">
                    Quantity:
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(Model => Model.Quantity, new { @placeholder = "Item Quantity", @class = "form-control", @id = "Quantity" })
                </div>
            </div>
            <br />

            <!-- Price -->
            <div class="row">
                <div class="col-sm-3">
                    Price:
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(Model => Model.Price, new { @placeholder = "Price", @type = "number", @class = "form-control", @id = "Price" })
                </div>
            </div>
            <br />

            <!-- Stock -->
            <div class="row">
                <div class="col-sm-3">
                    Availible Stock:
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(Model=>Model.Stock, new { @placeholder="Availible Stock", @class="form-control", @id="Stock",@type="number"})
                </div>
            </div>
            <br />

            <!-- Description -->
            <div class="row">
                <div class="col-sm-3">
                    Descritpion:
                </div>
                <div class="col-sm-4">
                    @Html.TextAreaFor(Model => Model.Description, new { @placeholder = "Enter Product Description", @class = "form-control", @id = "Description" })
                </div>
            </div>
            <br />

            <!-- Product Image Upload Button -->
            <div class="row">
                <div class="col-sm-3">
                    Product Image:
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(Model => Model.ProductImage, new { @id = "ProductImage", @type = "file", @class = "form-control" })
                </div>
            </div>
            <br />

            <!-- Add Product Button -->
            <div class="row">
                <div class="col-sm-6">
                    <button id="AddProduct" class="form-control pull-right" style="width:140px;height:35px" type="submit" value="Add Product">Add Product</button>
                </div>
            </div>
            <br />

            <!-- Message -->
            <div id="Message" class="row container">
                <div align="right" class="col-sm-4">@TempData["Message"]</div>
            </div>

        </div>
    }
</div>

