
@{
    ViewBag.Title = "Cart";
}


<h2>Cart</h2>
<div class="container">
<div class="Oredered Stationary Items container" id="Staionary">
    <h3>Statinary items</h3>
    <table class="table table-hover">
        <thead><tr>
            <th>Item Name</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>total</th>
        </tr></thead>
    <tbody>
    @for(int i=0; i<@ViewBag.StationaryItems.Count;i++)
    {
    <tr>
        <td>@ViewBag.StationaryItems[@i]._itemName</td>
        <td>&#8377;@ViewBag.StationaryItems[@i]._amount</td>
        <td>@ViewBag.StationaryItems[@i]._count</td>
        <td>&#8377;@ViewBag.StationaryItems[@i].QuantitesCost</td>
    </tr>
    }
    <tr>
        <td/>
        <td/>
        <td>Total Cost</td>
        <td>&#8377;@ViewBag.StationaryItemsCost</td>
    </tr>
    </tbody>
    </table>
</div>
<div class="Ordered HouseKeeping Items container" id="HouseKeeping">
    <h3>HouseKeeping Items</h3>
    <table class="table table-hover table-grey">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Amount</th>
                <th>Quantity</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < @ViewBag.HouseKeepingItems.Count; i++)
        {
            <tr>
                <td>@ViewBag.HouseKeepingItems[@i]._itemName</td>
                <td>&#8377;@ViewBag.HouseKeepingItems[@i]._amount</td>
                <td>@ViewBag.HouseKeepingItems[@i]._count</td>
                <td>&#8377;@ViewBag.HouseKeepingItems[@i].QuantitesCost</td>
            </tr>
        }
        <tr>
            <td/>
            <td/>
            <td>Total Cost</td>
            <td>&#8377;@ViewBag.HouseKeepingItemsCost</td>
        </tr>        
        </tbody>
        </table>
</div>
<div class="confirm-order container">
    <label class="pull-right"><strong>Total Cost of All Prodeucts = &#8377;@ViewBag.TotalCost</strong></label>
    <button type="submit" class="btn btn-primary pull-right">Order</button>
</div>
</div>

