@model WebApplication1.Models.HomeModel

@{
    ViewBag.Title = "Swachh Enterprises";
    ViewBag.Count = "Count";
}

<!--Items Menu-->
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">ITEMS</a>
    </div>
    <ul class="nav navbar-nav">
        <li id="stationaryList" class="active"><a href="#" id="stationary">Stationary</a></li>
        <li id="houseKeepingList"><a href="#" id="houseKeeping">House Keeping</a></li>
    </ul>
</nav>


@using (@Html.BeginForm())
{
    <!--Menu Items-->
<div class="container" style="min-width:1280px" id="items">
    <div id="stationaryItems" class="list-group">
        
        @for (int i = 0; i < @ViewBag.StationaryItems.Length;)
        {
            <div class="row container">
            @for (int j = 0; j < 3 && i < @ViewBag.StationaryItems.Length; j++,i++)
            {
                //Model.stationaryItems.Add(@ViewBag.StationaryItems[@i]);
                <div class="StationaryItem col-sm-4">
                    <div id="StationaryItemName"><strong>@ViewBag.StationaryItems[@i]._itemName</strong></div>
                    <div class="StationaryItemAmount">PRICE - &#8377;@ViewBag.StationaryItems[@i]._amount</div>
                    @Html.TextBoxFor(Model => Model.StationaryCount[@i], new { @type = "number", @class = "form-control", @placeholder = "Count", @id = @ViewBag.StationaryItems[@i]._itemName })
                </div>
            }
            </div>
        }
    </div>
    <div id="houseKeepingItems" class="list-group" style="">

        
        @for (int i = 0; i < @ViewBag.HouseKeepingItems.Length;)
        {
            <div class="row container">
            @for (int j = 0; j < 3 && i < @ViewBag.HouseKeepingItems.Length; j++,i++)
            {
                //Model.houseKeepingItems.Add(ViewBag.HouseKeepingItems[@i]);
                //ViewBag.Counter = @ViewBag.HouseKeepingItems[@i]._itemName + "Count";
                <div class="HouseKeepingItem col-sm-4">    
                    <div id="HouseKeepingItemName"><strong>@ViewBag.HouseKeepingItems[@i]._itemName</strong></div>
                    <div class="HouseKeepingItemAmount">PRICE - &#8377;@ViewBag.HouseKeepingItems[@i]._amount</div>
                    @Html.TextBoxFor(Model => Model.HouseKeepingCount[@i], new { @class = "form-control", @placeholder = "Count", @id = @ViewBag.HouseKeepingItems[@i]._itemName })
                </div>
            }
            </div>
        }
    </div>
    
</div>


<!--Cancel and Add to Cart Buttons-->
<div align="right">
    <input class="btn btn-info" type="button" value="Cancel">
    <button class="btn btn-info" type="submit" value="Add to Cart">Add to Cart</button> @*onclick="@("window.location.href='" + @Url.Action("Cart", "Home") + "'");" />*@
</div>
}


<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <input type="file" accept=".feature"/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
